body {
  background-image: url(./assets/img/nat.gif);
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.396);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.519);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* projecy */
.Weather {
  margin-top: 100px;
  margin-left: 20px;
}

.Weather form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px black;
}

::placeholder {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 15px;
}

.Weather input {
  padding: 5px;
  font-size: 20px;
  border: 2px solid rgb(255, 254, 254);
  border-radius: 20px;
  margin-right: 10px;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
}

.Weather button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(165, 31, 71);
  cursor: pointer;
}

.Weather button:hover {
  background-color: black;
  color: white;
}

.Weather-data {
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  text-shadow: 2px 2px 2px black;
}

.Weather-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
